<br>
<br>
<br>
<br>
<h2 class="text-center">Hello, thanks for using our service</h2>

<br>
<br>

<h3 class="text-center">You have been successfully log in, you'll be redirect soon...</h3>

<br>
<br>

<div class="sk-folding-cube">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>

<meta http-equiv="refresh" content="3;/map/home-page">