<h2>
  Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label>Email</label>
  <input id="email" class="form-control" type="email" name="email" placeholder="Your Email">

  <br>
  <br>

  <label for="password">Password</label>
  <input id="password" class="form-control" type="password" name="password" placeholder="Your Password">
  <br> {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br>
  <br>

  <button class="btn-block btn-lg btn-primary">Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/login">Signup</a>
  </p>
</form>