<br><br><br><br>
<h1 class="text-center">See you later ❤️</h1>
<br><br>
<h3 class="text-center">You are successfully log out, you will be redirect to the home page...</h3>
<br>
<br>
<br>

<div class="sk-folding-cube">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>

<meta http-equiv="refresh" content="3;/">