<!-- views/auth/signup.hbs -->
<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <br>
  <br>

  <label>First Name</label>
  <input id="firstName" class="form-control" type="firstName" name="firstName" placeholder="Your first name">
  <br>

  <br>
  <br>

  <label>Last Name</label>
  <input id="lastName" class="form-control" type="lastName" name="lastName" placeholder="Your last name">
  <br>

  <br>
  <br>

  <label for="username">Username</label>
  <input id="username" class="form-control" type="text" name="username" placeholder="JonSnow">
  <br>

  <br>
  <br>

  <label>Email</label>
  <input id="email" class="form-control" type="email" name="email" placeholder="Your email">
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  <br>

  <br>
  <br>

  <label for="password">Password</label>
  <input id="password" class="form-control" type="password" name="password" placeholder="Your password">
  <br> {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br>
  <br>
  <a href="#" class="btn-block btn-sm btn-primary">Create account</a>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
  <a href="/google/login" class="btn-block btn-sm btn-danger">Login with Google</a>

</form>