<header class="header-index">
  <button class="btn btn-warning">
    <a href="auth/login">LOG IN</a>
  </button>
</header>

<section class="index">
  <h1>NAME OF THE WEBSITE!</h1>
</section>
<br>

<div class="description">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolores assumenda saepe non earum, quidem minima perferendis
    quod ex vero repudiandae nostrum et suscipit dolorum itaque officia tempora expedita aspernatur.</p>

  <button class="btn btn-primary">
    <a href="/auth/signup">SIGN UP</a>
  </button>

</div>