<header>
    <a href="auth/login">
      <button type="button" class="btn btn-warning">Log in</button>
    </a>
</header>
<br>
<br>
<br>
<br>
<div class="container ">
  <div class="row">
    <div class='col-1'>
      <br>
    </div>
    <div class='col'>
      <h4>WHAT</h4>
      <h4>THE </h4>
      <h4>Q</h4>
    </div>
    <br>
    <div class='col'>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolores assumenda saepe non earum, quidem minima perferendis
        quod ex vero repudiandae nostrum et suscipit dolorum itaque officia tempora expedita aspernatur.</p>
      <div align="center">
        <a href="/auth/signup">
          <button type="button" class="btn btn-success">Sign up</button>
        </a>
      </div>
    </div>
    <div class='col-1'>
      <br>
    </div>
  </div>
</div>

</div>