<header>
  <a href="auth/login">
    <button type="button" class="btn btn-warning">Log in</button>
  </a>
</header>
<br>
<br>
<br>
<br>
<div class="container ">
  <div class="row">
    <div class='col-1'>
      <br>
    </div>
    <div class='col'>
      <h4>WHAT</h4>
      <h4>THE </h4>
      <h4>Q</h4>
    </div>
    <br>
    <div class='col vertical'>

      <p>Have you ever wonder how many people there are in a place you'd like to go ?
        <br> How long is the queue ?
        <br>
        <br> We have the answer !
        <br>
        <br> <b>WHAT THE Q</b> is a collaborative website which shows you how much people there is in everyplace in Paris.
        <br> Pin to comment or post a picture about a place in Paris and help the community to see what's going on in real time!
      </p>
      <div align="center">
        <a href="/auth/signup">
          <button type="button" class="btn btn-success">Sign up</button>
        </a>
      </div>
    </div>
    <div class='col-1'>
      <br>
    </div>
  </div>
</div>

</div>