  <a href="auth/login"><button type="button" class="btn btn-warning">Log in</button>
</a>
<section class="index">
  <h1>What the Q!</h1>
</section>
<br>

<div class="description">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolores assumenda saepe non earum, quidem minima perferendis
    quod ex vero repudiandae nostrum et suscipit dolorum itaque officia tempora expedita aspernatur.</p>


    <a href="/auth/signup"><button type="button" class="btn btn-success">Sign up</button></a>


</div>