<br>
<br>
<br>
<div class="container border-perso">
  <div class="row">
    <div class='col-1'>
    </div>
    <div class='col'>
      <h1>WHAT</h1>
      <h1>THE </h1>
      <h1>Q</h1>
    </div>
    <br>
    <div class='col vertical'>
<br>
      <p>Have you ever wonder how many people there are in a place you'd like to go and how long is the queue ?</p>
        <br>
        <h5><b> We have the answer !</b></h5>
        <br>
        <p> <b>WHAT THE Q</b> is a collaborative website application that helps you check in real time what the attendance looks like in every place in Paris. </p>
        <br> 
        <p>Pin to comment or post a picture about a place in Paris and help the community to see what's going on !</p>
      <br>

      </p>
      <div align="center">
          <a href="auth/login">
    <button type="button" class="btn btn-lg btn-success">Log in</button>
  </a>
  or
        <a href="/auth/signup">
          <button type="button" class="btn btn-lg btn-primary">Sign up</button>
        </a>
        <br><br><br><br>
      </div>
    </div>
    <div class='col-1'>
      <br>
    </div>
  </div>
</div>

</div>