<header>
  <a href="auth/login">
    <button type="button" class="btn btn-warning">Log in</button>
  </a>
</header>
<br>
<br>
<br>
<br>
<div class="container ">
  <div class="row">
    <div class='col-1'>
      <br>
    </div>
    <div class='col'>
      <h4>WHAT</h4>
      <h4>THE </h4>
      <h4>Q</h4>
    </div>
    <br>
    <div class='col vertical'>

      <p>Have you ever wonder how many people there are in a place you'd like to go and how long is the queue ?
        <br>
        <h2> W e   h a v e   t h e   a n s w e r !
        <br>
        <br> <b>WHAT THE Q</b> Collaborative website application that helps you check in real time what the attendance looks like in every place in Paris.
      <br>
      <br>
      </p>
      <div align="center">
        <a href="/auth/signup">
          <button type="button" class="btn btn-success">Sign up</button>
        </a>
      </div>
    </div>
    <div class='col-1'>
      <br>
    </div>
  </div>
</div>

</div>