<p class="text-center">Do you want to know what the Q looks like in every places in Paris?</p>

<h3>Search for a place</h3>

<form action="/process-add" method="POST" align="center">
  <input type="sub" placeholder="Louvre" name="name" class="form-control  location-input " />
  <br />

  <!-- these will be set by out Place Autocomplete -->
  <input type="hidden" name="name" class="location-input" />
  <input type="hidden" name="latitude" class="lat-input" />
  <input type="hidden" name="longitude" class="lng-input" />

</form>



<br>

<section>
  <style>
    #map {
      height: 500px;
      width: 100%;
    }
  </style>
</section>
<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC_B3dPHu_nluJPujSi60WDjA2ymELGVNo
">
</script> {{!--
<script type="text/javascript" src="../public/javascripts/script.js"></script> --}}

</div>