<br>
<br>
<br>
<h1 class="text-center">Welcome {{blahUser.firstName}}</h1>
<br><br>
<p class="text-center">Do you want to know what the Q looks like in every places in Paris?</p>

<input type="text" class="form-control">