<div class="container ">
  <div class="row">
    <br>

    <div class='col'>
      <h4>Who is </h4>
      <h4>#TeamBillise </h4>
        <h4>?</h4>
    </div>

    <div class='col'>

   <div class="row">
  <div class="col-md-4 signup">
    <ul class="list-group">
      <li class="li"><img src="../images/billy.jpeg" width="150px"></li>
      <li class="li">Billy Trang</li>
      <li class="li"><a href="https://www.linkedin.com/in/billytrang/">Linkedin</a></li>
    </ul>
  </div>
    <div class="col-md-4 signup">
      <ul class="list-group">
      <li class="li"> <img src="../images/elise.jpeg" width="150px"></li>
      <li class="li">Elise Griset</li>
      <li class="li"><a href="https://www.linkedin.com/in/elisegriset/">Linkedin</a></li>
    </ul>
    </div>
</div>
      </div>
    </div>
  </div>
</div>
